<!DOCTYPE html>
<html>
<body>
<form action = "http://localhost:5000/result" method = "POST">

    <select id="mymultiselect" name="mymultiselect" onchange="selecao(this.form)">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
    </select>

    <select id="mymultiselect2" name="mymultiselect2" onchange="selecao(this.form)">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
    </select>


    </form>


</body>
</html>