


<html>
    <head>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href="{{url_for('.static', filename='css/style_sliders.css')}}" rel="stylesheet">
      <link href="{{url_for('.static', filename='css/style_checkbox.css')}}" rel="stylesheet">
      


            <style type="text/css">
                BODY{
                       font-family: verdana;
                       font-size: 18;
                       line-height: 20px
                }
                P { box-shadow: grey 0.5em 0.5em 0.5em }
                .col-xs-6 {
                    box-shadow: black 0.5em 0.5em 0.5em;
                    font-size: 12
                 }

                </style>
            <!--Colocar os arquivos css-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
    <body>
            <h1 style="text-align: center;"><span style="color: #000080;"><strong>Deep Learning Models</strong></span></h1><br>





        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
<div class="col-xs-6 col-md-4" align="center">
        </div>
        <div class="col-xs-6 col-md-4">
            <p><b>Build Model Layers</b></p>
            <div align="left">
    
    
    
    <script src="{{ url_for('.static', filename='js/add_layer.js') }}"></script>
    
    
    
    <blockquote>
        <b>Layer Type:</b>
        <select id="addFood">
        <option id="addFood" value="Dense" selected>Dense</option>
        <option id="addFood" value="Activation">Activation</option>
        <option id="addFood" value="Flatten">Flatten</option>
        </select><br>
        <br>
        <b>Neurons Number:</b>
        <select id="addFood2">
            <option id="addFood2" value="12" selected>12</option>
            <option id="addFood2" value="24">24</option>
            <option id="addFood2" value="32">32</option>
            <option id="addFood2" value="64">64</option>
            <option id="addFood2" value="128">128</option>
            <option id="addFood2" value="256">256</option>
            <option id="addFood2" value="512">512</option>
            </select><br>
            <div class="range range-success">
                <input  type="range" name="range" min="12" max="512" value="256" onchange="rangeSuccess.value=value">
                <output id="rangeSuccess">50</output><br>
            </div><br>
        <b>Activations:</b>
        <select id="addFood3" font-size="18">
        <option id="addFood3" value="softmax" selected>Softmax</option>
        <option id="addFood3" value="elu">Elu</option>
        <option id="addFood3" value="selu">Selu</option>
        <option id="addFood3" value="softplus">Softplus</option>
        <option id="addFood3" value="softsign">Softsign</option>
        <option id="addFood3" value="relu">Relu</option>
        <option id="addFood3" value="tanh">Tanh</option>
        <option id="addFood3" value="sigmoid">Sigmoid</option>
        <option id="addFood3" value="hard_sigmoid">Hard Sigmoid</option>
        <option id="addFood3" value="linear">Linear</option>
        </select><br>
        <br>
    
        <!-- we call addToFood(); through the following button  -->
        <input type="submit" value="add Camada"><br>
        <!-- The list of food is displayed in the following div -->
        <div id="foods"></div>
    
                </div>
    
<!-- Columns are always 50% wide, on mobile and desktop -->
<div>
    <label for=""><b>Losses Function</b></label><br>
    Mean Squared Error<INPUT TYPE="checkbox" NAME="OPCAO" VALUE="mean_squared_error"><br>
    Mean Absolute Error<INPUT TYPE="checkbox" NAME="OPCAO" VALUE="mean_absolute_error"><br>
    Mean Absolute Percentage Error <INPUT TYPE="checkbox" NAME="OPCAO" VALUE="mean_absolute_percentage_error"><br>
    Squared Logarithmic Error <INPUT TYPE="checkbox" NAME="OPCAO" VALUE="mean_squared_logarithmic_error"><br>
    Squared Hinge <INPUT TYPE="checkbox" NAME="OPCAO" VALUE="squared_hinge"><br>
    Hinge <INPUT TYPE="checkbox" NAME="OPCAO" VALUE="hinge"><br>
    Categorical Hinge <INPUT TYPE="checkbox" NAME="OPCAO" VALUE="categorical_hinge"><br>
    Logcosh <INPUT TYPE="checkbox" NAME="OPCAO" VALUE="logcosh"></div><br>


<div class="container">
<div class="col-md-4">
            <form>
                <h2>1. Losses Function</h2>
                <div class="form-check">
                    <label>
                        <input type="checkbox" name="check" value='mean_squared_error' checked> <span class="label-text">Mean Squared Error</span>
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input type="checkbox" name="check" value='mean_absolute_error'> <span class="label-text">Mean Absolute Error</span>
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input type="checkbox" name="check" value='mean_absolute_percentage_error'> <span class="label-text">Mean Absolute Percentage Error</span>
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input type="checkbox" name="check" value='squared_logarithmic_error'> <span class="label-text">Squared Logarithmic Error</span>
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input type="checkbox" name="check" value='squared_hinge'> <span class="label-text">Squared Hinge</span>
                    </label>
                </div>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check" value='hinge'> <span class="label-text">Hinge</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check" value='categorical_hinge'> <span class="label-text">Categorical Hinge</span>
                </label>
                </div>
                
            </form>

        </div>
        <div class="col-md-4">
            <form>
                <h2>2. Customs Radios</h2>
                <div class="form-check">
                    <label>
                        <input type="radio" name="radio" checked> <span class="label-text">Option 01</span>
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input type="radio" name="radio"> <span class="label-text">Option 02</span>
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input type="radio" name="radio"> <span class="label-text">Option 03</span>
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input type="radio" name="radio"> <span class="label-text">Option 04</span>
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form>
                <h2>3.Radios Toggles</h2>
                <div class="form-check">
                    <label class="toggle">
                        <input type="radio" name="toggle" checked> <span class="label-text">Option 01</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="toggle">
                        <input type="radio" name="toggle"> <span class="label-text">Option 02</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="toggle">
                        <input type="radio" name="toggle"> <span class="label-text">Option 03</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="toggle">
                        <input type="radio" name="toggle" disabled> <span class="label-text">Option 04</span>
                    </label>
                </div>
            </form>
        </div>
</div>

    
    
<br>
    <p><b>Metrics:</b>
    <select>
    <label for=""><b>Metrics</b></label><br>
    <option value="binary_accuracy">Binary Accuracy</option>
    <option value="categorical_accuracy">Categorical Accuracy</option>
    <option value="sparse_categorical_accuracy">Sparse Categorical Accuracy</option>
    <option value="top_k_categorical_accuracy" selected>Top k Categorical Accuracy</option>
    <option value="sparse_top_k_categorical_accuracy">Sparse Top KCategorical Accuracy</option>
    </select><br></p><br>

                 <input type="submit" value="Training"><br>

                 <div class="col-xs-6 col-md-4" align="center"></div>
                    
      




        </div>
      </div>

<div>
    <script></script> <!--Fazer alguma função-->

</div>
    </body>
<!--Colocar as chamadas JavaScript-->

    </html>
