<html>
   <body>
   
      <form action = "http://localhost:9000/api" method = "POST">
         <p>Preço <input type = "text" name = "preco" /></p>
         <p>Quantidade <input type = "text" name = "quantidade" /></p>
         <p>Promoção<input type = "text" name = "promotion" /></p>
         <p>Receita<input type ="text" name = "receita" /></p>
         <p>Clima<input type ="text" name = "clima" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>